#red {
	/*background-color: red;*/
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 200px solid red;
	color: white;
	margin: 50px;
	position: relative;
	top: 300px;
	left: 500px;
}

#blue {/*
	background-color: blue;*/
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-right: 200px solid blue;
	border-bottom: 100px solid transparent;
	color: white;
	margin: 50px;
	position: relative;
	top: -100px;
	left: 600px;
}

#yellow {
	/*background-color: yellow;*/
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 200px solid yellow;
	color: white;
	margin: 50px;
	position: relative;
	top: 250px;
	left: 500px;
}

#green {
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-left: 200px solid green;
	border-bottom: 100px solid transparent;
	color: white;
	margin: 50px;
	position: relative;
	top: -350px;
	left: 400px;
}

html {
	background-color: black;
}

body {
	background-image: url("/img/nebula.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

h1 {
	text-align: center;
	color: white;
	font-family: sans-serif;
}

#simon-face {
	height: 100px;
	position: relative;
	left: 250px;
}
